In [1]:
# Create a new list
A = [6,4,2,0,1,8]

In [2]:
A

[6, 4, 2, 0, 1, 8]

In [3]:
print(A)

[6, 4, 2, 0, 1, 8]

In [4]:
# Pop off the 4 indexed item
A.pop(1)

4

In [5]:
m = 35
print(m)
print("shreyash")
print(2020)

35
shreyash
2020

In [6]:
'day'+str(2)+str(5)+'end'

'day25end'

In [7]:
'shreyash'+str(2020)

'shreyash2020'

In [8]:
len("shreyash davada")

15

In [11]:
print("shreyash davada")

shreyash davada

In [1]:
l = []
for i in range (2000,3201):
  if not i%7 and i%5:
    l.append(i)
  else:
    continue
print (l)

[2002, 2009, 2016, 2023, 2037, 2044, 2051, 2058, 2072, 2079, 2086, 2093, 2107, 2114, 2121, 2128, 2142, 2149, 2156, 2163, 2177, 2184, 2191, 2198, 2212, 2219, 2226, 2233, 2247, 2254, 2261, 2268, 2282, 2289, 2296, 2303, 2317, 2324, 2331, 2338, 2352, 2359, 2366, 2373, 2387, 2394, 2401, 2408, 2422, 2429, 2436, 2443, 2457, 2464, 2471, 2478, 2492, 2499, 2506, 2513, 2527, 2534, 2541, 2548, 2562, 2569, 2576, 2583, 2597, 2604, 2611, 2618, 2632, 2639, 2646, 2653, 2667, 2674, 2681, 2688, 2702, 2709, 2716, 2723, 2737, 2744, 2751, 2758, 2772, 2779, 2786, 2793, 2807, 2814, 2821, 2828, 2842, 2849, 2856, 2863, 2877, 2884, 2891, 2898, 2912, 2919, 2926, 2933, 2947, 2954, 2961, 2968, 2982, 2989, 2996, 3003, 3017, 3024, 3031, 3038, 3052, 3059, 3066, 3073, 3087, 3094, 3101, 3108, 3122, 3129, 3136, 3143, 3157, 3164, 3171, 3178, 3192, 3199]

In [2]:
f='shreyash'
l='davada'
print (l,f)

davada shreyash

In [3]:
# Assign s as a string
s = 'shreyash davada'

In [5]:
# check
s

'shreyash davada'

In [7]:
s[::-1]

'adavad hsayerhs'

In [34]:
# Create a new list
print("WE, THE PEOPLE OF INDIA, \n\t having solemnly resolved to constitute India into a SOVEREIGN, ! \n\t SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC  and \n\t to secure all its citizens")

WE, THE PEOPLE OF INDIA,
	 having solemnly resolved to constitute India into a SOVEREIGN, !
	 SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC  and
	 to secure all its citizens

In [40]:
print("*")
print("**")
print("***")
print("****")
print("*****")
print("****")
print("***")
print("**")
print("*")

*
**
***
****
*****
****
***
**
*

In [44]:
import math
pi = math.pi
r = float(12/2)
w = (float(4/3)*(pi)*(r)**3)

In [46]:
print (w)

904.7786842338603

In [49]:
y=1,5,2,4,8,9,10,13,14,15,29,33
print (y)

(1, 5, 2, 4, 8, 9, 10, 13, 14, 15, 29, 33)

In [50]:
tup = (11,21,13,44,55,67,78,98,89,102)
for t in tup:
    print(t)

11
21
13
44
55
67
78
98
89
102